html{
  height: 100%;
  font-size: 1rem;
  background-color: #F7FB48;
  font-family: futura-pt,futura-heavy,"Helvetica Neue",
  Helvetica,Arial,sans-serif;
}

body{
  margin: 0;
  color: black;
  height: 100%;
  width: 100%;
}



*,
*:after,
*:before {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

.container{
  margin: 10px;
  padding: 10px;
  float: left;
}

.container input{
  margin-bottom: 2px ;
}

#contact-info h3{
  background-color:rgba(255,0,0,0.5);
  padding: 10px;
}


