
<div class="container">
<h1>Contact List v4.0.0</h1>
<h3>Search for a cotact</h3>
<input type="text" name="search" id="search-input" placeholder="Who are you looking for?">
<button id="go-search">Search</button>
</div>

<div class="container">
  <button id="list-all">List All</button>
</div>

<div class="container">
  <h3>Create a contact</h3>
  <form>
  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname">
  <br>
  Phone number:<br>
  <input type="text" name="phone">
  <br>
  Email:<br>
  <input type="text" name="email">
  <br>
  <button id="create-contact">Create</button>
  </form>
</div>

<div id="contact-info"></div>
